ProyectoIndividual/force-app/main/default/flows/ModuleCompleted.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Email with the data of completed module</description>
        <name>Emails</name>
        <label>Email</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Congratulations</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <description>When a module is completed send a email</description>
    <interviewLabel>ModuleCompleted {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ModuleCompleted</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Status</name>
        <label>Status</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Emails</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Progress__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </filters>
        <object>User_Module__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Email</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Congratulations!{!$Record.User__r.Name} You have been completed {!$Record.Module__r.Name} with {!$Record.Points__c} and {!$Record.Quantity_Units__c} Units&lt;/p&gt;</text>
    </textTemplates>
</Flow>
