ProyectoIndividual/force-app/main/default/flows/SumadePuntos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>UserModule2</name>
        <label>UserModule2</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>UserModule.Points__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loopp.NewvalNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>User.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loopp.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ModuleOwner</targetReference>
        </connector>
    </assignments>
    <interviewLabel>SumadePuntos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SumadePuntos</label>
    <loops>
        <name>Loopp</name>
        <label>Loop</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>PointsNews</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UserModule2</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>ModuleOwner</name>
        <label>ModuleOwner</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UserUpdate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PointsNews</name>
        <label>PointsNews</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loopp</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User_Module__History</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UserUpdate</name>
        <label>UserUpdate</label>
        <locationX>264</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Loopp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ModuleOwner.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Points__c</field>
            <value>
                <elementReference>UserModule.Points__c</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PointsNews</targetReference>
        </connector>
        <object>User_Module__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>UserModule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User_Module__c</objectType>
    </variables>
</Flow>
